version: '3.8'

services:
  telegram-bot:
    build: .
    container_name: colli-access-telegram-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./bot.py:/app/bot.py:ro
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
